*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
    --primary: #D48166;
    --btn: #8bb09c;
    --btn-hover: #77af96;
    --btn-2-hover: #d46a66;
    --footer: #3E4059;
    --black: #000;
    --white: #fff;
    --gray: #ccc8c8;
    --bg1: #f9f9f9
}

/* ---------------------------
   Estilos para INDEX
--------------------------- */
.grid-container-index {
    display: grid;
    grid-template-areas:
        'header'
        'filtros'
        'products'
        'pagination'
        'footer';
}

.header { grid-area: header; }
.filtros { grid-area: filtros; }
.main-index { grid-area: products; }
.pagination { grid-area: pagination; }
.footer { grid-area: footer; }

@media (min-width: 768px) {
    .grid-container-index {
        display: grid;
        grid-template-areas:
            'header header'
            'filtros products'
            'filtros products'
            'pagination pagination'
            'footer footer';
    }

    .header { grid-area: header; }
    .filtros { grid-area: filtros; }
    .main-index { grid-area: products; }
    .pagination { grid-area: pagination; }
    .footer { grid-area: footer; }
}

/* HEADER */

header {
    background: radial-gradient(circle, #d46a66, #ffab8e, #ffe1d5);
    color: white;
    padding: 20px;
}
.nav-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0px;
}
.nav-principal a {
    text-decoration: none;
    color: var(--black);
    font-weight: 600;
    font-size: 17px;
    padding: 10px 0px;
}

.nav-secundario {
    display: flex;
    flex-direction: row; /* Alineación en fila */
    align-items: center; /* Centra los elementos verticalmente */
    justify-content: flex-start; /* Alineación de los elementos a la izquierda */
    margin: 20px 0px;
}

.nav-secundario a {
    text-decoration: none;
    color: var(--black);
}

.nav-secundario a:nth-child(1) {
    font-size: 22px;
    font-weight: 600;
    color: var(--black);
    text-decoration: none;
    display: flex;
    align-items: center; /* Alinea el texto verticalmente */
    margin-right: 20px; /* Espacio a la derecha del logo */
}

/* Estilo para el formulario */
.nav-secundario form {
    display: flex; /* Alineación horizontal */
    align-items: center; /* Alinea los elementos del formulario */
    justify-content: center; /* Centra el formulario */
    margin: 10px 0px;
    width: 100%;
}

.nav-secundario input {
    width: 80%;
    padding: 10px;
    border: 2px var(--gray) solid;
    border-radius: 5px;
}

.nav-secundario button {
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    display: inline-flex; /* Alineación interna */
    align-items: center;
    justify-content: center;
}

.nav-secundario button i {
    font-size: 20px; /* Tamaño del ícono */
    color: var(--black); /* Color del ícono */
    transition: color 0.3s ease; /* Efecto al pasar el ratón */
}

.nav-secundario button:hover i {
    color: var(--primary);
}

/* Alineación y estilo de los íconos */
.nav-secundario__iconos {
    display: flex;
    flex-direction: row; /* Alineación horizontal */
    justify-content: flex-end; /* Los íconos se alinean a la derecha */
    align-items: center; /* Centra los íconos verticalmente */
    width: auto; /* Ajuste del tamaño */
}

.nav-secundario__iconos a {
    margin: 0 10px; /* Espacio entre los íconos */
}

.nav-secundario__iconos a i {
    font-size: 25px; /* Tamaño del ícono */
    width: 40px;
    height: 40px;
}

/* Estilos para las categorías */
.nav-categorias {
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-categorias a {
    padding: 10px 0px;
    text-decoration: none;
    color: var(--white);
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
}

/* Media Query para pantallas más grandes */
@media (min-width: 768px) {
    .nav-principal {
        flex-direction: row;
        padding: 0px 80px;
        justify-content: flex-end;
    }

    .nav-principal a {
        margin-left: 40px;
    }

    .nav-secundario {
        flex-direction: row;
        justify-content: flex-start; /* Los elementos siguen alineados a la izquierda */
        align-items: center;
        padding: 0px 80px;
    }

    .nav-secundario a:nth-child(1) {
        flex-grow: 1; /* Hace que el logo ocupe el espacio disponible */
    }

    .nav-secundario form {
        margin: 0px;
        flex-grow: 2;
        justify-content: center; /* Asegura que el formulario esté centrado */
    }

    .nav-secundario__iconos {
        flex-direction: row; /* Alineación horizontal para los íconos */
        justify-content: flex-end; /* Alineación a la derecha */
        width: auto;
        align-items: center; /* Centra verticalmente los íconos */
    }

    .nav-secundario__iconos a {
        margin: 0 10px; /* Espacio entre los íconos */
    }


    .nav-categorias {
        flex-direction: row;
        padding: 0px 80px;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    .nav-categorias a { padding-right: 80px; }
}

/*aside:        */
.filtros {
    padding-top: 20px;
    margin: 0px 20px;
}

.filtros a {
    text-decoration: none;
    color:var(--black);
    cursor: pointer;
}
.filtros ul { list-style-type: none; }
.filtros li a:hover { color: var(--primary); }
.filtros p { font-size: 17px; font-weight: 600;}

.filtros__orden {
    padding: 10px;
    border: 2px var(--gray) solid;
    border-radius: 5px;
    width: 100%;
}

.filtros__categoria li,
.filtros__categoria p { padding: 10px 0px; }

.filtros__precio--minmax {
    display: flex;
    justify-content: space-between;
    gap: 5px;
}
.filtros__precio p { padding: 10px 0px; }

.filtros__precio input {
    padding: 10px;
    border: 2px var(--gray) solid;
    border-radius: 5px;
    margin: 10px 0px;
    width: 100%;
}
.filtros__precio button {
    background-color: var(--btn);
    border: none;
    padding: 10px;
    border-radius: 5px;
    color: var(--white);
    cursor: pointer;
    margin-top: 10px;
    transition-duration: 0.8s;
}
.filtros__precio button:hover {
    background-color: var(--btn-hover);
}

.filtros__color li,
.filtros__color p { padding: 10px 0px; }

@media (min-width: 768px) {
    .filtros {
        padding: 20px 20px 20px 10px;
        width: 15vw;
    }
    .filtros__orden {
        padding: 10px;
        border: 2px var(--gray) solid;
        border-radius: 5px;
    }
    .filtros__categoria {
        margin-top: 20px;
        width: 100%;
    }

    .filtros__precio { 
        margin-top: 20px; 
    }

    .filtros__precio--minmax {
        flex-direction: column;
    }
    .filtros__color{ margin-top: 20px; width: 100%;}
}

/* productos de la tienda */
.producto {
    margin: 10px;
    padding: 10px;
    border: 2px solid var(--gray); /* Borde alrededor del producto */
    border-radius: 10px; /* Esquinas redondeadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para darle un efecto flotante */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transición para efecto de hover */
  }
  
  .producto:hover {
    transform: scale(1.0005); /* Escala el producto al hacer hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada en hover */
  }
  
  .producto figure {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .producto img {
    width: 200px;
    border-radius: 8px; /* Esquinas redondeadas en la imagen */
  }
  
  .producto__caracteristicas {
    margin: 10px 0px;
  }
  
  .producto__caracteristicas p {
    padding: 5px 0px;
  }
  
  .producto__caracteristicas p:nth-child(1) {
    text-align: center;
    font-size: 20px;
  }
  
  .producto__carrito {
    margin: 10px 0px;
  }
  
  .producto__carrito button {
    background-color: var(--btn);
    border: none;
    padding: 10px;
    border-radius: 5px;
    color: var(--white);
    cursor: pointer;
    transition-duration: 0.8s;
    width: 75%;
  }
  
  .producto input {
    padding: 10px;
    border: 2px var(--gray) solid;
    border-radius: 5px;
    width: 23%;
  }
  

@media (min-width: 768px) {
  .main-index {
      grid-template-columns: 1fr 1fr;
      gap: 20px;
      padding: 20px 20px 0 10px;
  }
}

@media (min-width: 1200px) {
  .main-index {
      grid-template-columns: 1fr 1fr 1fr;
      gap: 20px;
      padding: 20px 20px 0 20px;
  }
}


/* ---------------------------
   Estilos para Inicio de Sesión
--------------------------- */
.main-login {
    display: flex;
    flex-direction: column;
    background-color: var(--bg1);
}

.login-section {
    margin: 40px auto;
    max-width: 400px;
    padding: 20px;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.login-section h2 {
    text-align: center;
    margin-bottom: 20px;
    color: var(--black);
}

.login-section form {
    display: flex;
    flex-direction: column;
}

.login-section label {
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 600;
    display: block;
    margin-bottom: 10px;
}

.login-section input[type="email"],
.login-section input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid var(--gray);
    border-radius: 5px;
    font-size: 16px;
}

.login-section input[type="checkbox"] {
    margin-right: 8px;
}

.login-section button {
    background-color: var(--btn);
    color: var(--white);
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
    margin-top: 10px;
    font-family: serif;
}

.login-section button:hover {
    background-color: var(--btn-hover);
}

.login-section a {
    text-decoration: none;
    color: var(--primary);
    font-size: 14px;
    margin-top: 10px;
    display: block;
    text-align: center;
}

.login-section a:hover {
    text-decoration: underline;
}

/* opción de registro en la página de inicio de sesión*/
.register-section {
    margin: 40px auto;
    max-width: 400px;
    text-align: center;
    padding: 20px;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.register-section h2 {
    margin-bottom: 15px;
    color: var(--black);
}

.register-section p {
    font-size: 15px;
    margin-bottom: 15px;
    color: var(--black);
}

.register-section a {
    display: inline-block;
    margin-top: 10px;
    background-color: var(--btn);
    color: var(--white);
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
    text-decoration: none;
}

.register-section a:hover {
    background-color: var(--btn-hover);
}

@media (min-width: 768px) {
    .main-login{
        flex-direction: row;
        align-items: center;
        gap: 50px;
    }
    .main-login section {
        width: 50%
    }
}


/* ---------------------------
   Estilos para REGISTRO
--------------------------- */
/* Estilos para la sección principal */
.main-registro {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    background-color: var(--bg1);
}
/* Estilos para el formulario de registro */
.main-registro form {
    width: 400px;
    background-color: var(--white);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}
/* Encabezados */
.main-registro form h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
}
/* Campos de entrada */
.main-registro form div {
    margin-bottom: 15px;
}
.main-registro form label {
    display: block;
    font-size: 17px;
    margin-bottom: 5px;
}
.main-registro form input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid var(--gray);
    border-radius: 4px;
    box-sizing: border-box;
}
/* Indicador de contraseña */
.main-registro form small {
    color: #999;
}
#password-strength-bar {
    height: 5px;
    background-color: var(--btn);
    margin-top: 5px;
    border-radius: 4px;
    overflow: hidden;
}

/* Botones */
.main-registro form button {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: var(--btn);
    color: var(--white);
    cursor: pointer;
    margin-top: 10px;
    font-size: 16px;
    font-family: serif;
}
.main-registro form button:hover {
    background-color: var(--btn-hover);
}
/* opcion de iniciar sesión en el registro.html*/
.opcionLogin {
    background-color: var(--white);
    width: 400px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 15px;
    text-align: center;
}

.opcionLogin a {
    display: inline-block;
    margin-top: 10px;
    background-color: var(--btn);
    font-size: 16px;
    text-decoration: none;
    color: var(--white);
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.opcionLogin a:hover {
    background-color: var(--btn-hover);
}


/* Texto */
.main-registro form p,
.opcionLogin p {
    font-size: 15px;
    line-height: 1.5;
    margin-top: 10px;
}

.main-registro form p a {
    color: var(--primary);
    text-decoration: none;
}

.main-registro form p a:hover {
    text-decoration: underline;
}

@media (min-width: 768px) {
    .main-registro {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }
}


/*FOOTER*/
.footer {
  background-color: var(--footer);
  color: var(--white);
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer p {
  text-align: center;
  padding: 10px;
}
.footer__redes a{
  font-size: 30px;
  color: var(--white);
  margin-left: 20px;
}

@media (min-width: 768px) {
  .footer {
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
  }
  .footer p {
      text-align: left;
  }
  
}

/*MODAL*/

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* Fondo oscuro */
    z-index: 1000;
  }
  
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
    position: relative;
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    cursor: pointer;
  }
  