*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
    --primary: #D48166;
    --btn: #8bb09c;
    --btn-hover: #77af96;
    --btn-2-hover: #d46a66;
    --footer: #3E4059;
    --black: #000;
    --white: #fff;
    --gray: #ccc8c8;
    --bg1: #f9f9f9
}

/* ---------------------------
   Estilos para INDEX
--------------------------- */
.grid-container-index {
    display: grid;
    grid-template-areas:
        'header'
        'filtros'
        'products'
        'pagination'
        'footer';
}

.header { grid-area: header; }
.filtros { grid-area: filtros; }
.main-index { grid-area: products; }
.pagination { grid-area: pagination; }
.footer { grid-area: footer; }

@media (min-width: 768px) {
    .grid-container-index {
        display: grid;
        grid-template-areas:
            'header header'
            'filtros products'
            'filtros products'
            'pagination pagination'
            'footer footer';
    }

    .header { grid-area: header; }
    .filtros { grid-area: filtros; }
    .main-index { grid-area: products; }
    .pagination { grid-area: pagination; }
    .footer { grid-area: footer; }
}

/* HEADER */

header {
    background: radial-gradient(circle, #d46a66, #ffab8e, #ffe1d5);
    color: white;
    padding: 20px;
}

.nav-secundario {
    display: flex;
    flex-direction: row; /* Alineación en fila */
    align-items: center; /* Centra los elementos verticalmente */
    justify-content: flex-start; /* Alineación de los elementos a la izquierda */
    margin: 20px 0px;
}

.nav-secundario a {
    text-decoration: none;
    color: var(--black);
}

.nav-secundario a:nth-child(1) {
    font-size: 22px;
    font-weight: 600;
    color: var(--black);
    text-decoration: none;
    display: flex;
    align-items: center; /* Alinea el texto verticalmente */
    margin-right: 20px; /* Espacio a la derecha del logo */
}

/* Estilo para el formulario */
.nav-secundario form {
    display: flex; /* Alineación horizontal */
    align-items: center; /* Alinea los elementos del formulario */
    justify-content: center; /* Centra el formulario */
    margin: 10px 0px;
    width: 100%;
}

.nav-secundario input {
    width: 80%;
    padding: 10px;
    border: 2px var(--gray) solid;
    border-radius: 5px;
}

.nav-secundario button {
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    display: inline-flex; /* Alineación interna */
    align-items: center;
    justify-content: center;
}

.nav-secundario button i {
    font-size: 20px; /* Tamaño del ícono */
    color: var(--black); /* Color del ícono */
    transition: color 0.3s ease; /* Efecto al pasar el ratón */
}

.nav-secundario button:hover i {
    color: var(--primary);
}

/* Alineación y estilo de los íconos */
.nav-secundario__iconos {
    display: flex;
    flex-direction: row; /* Alineación horizontal */
    justify-content: flex-end; /* Los íconos se alinean a la derecha */
    align-items: center; /* Centra los íconos verticalmente */
    width: auto; /* Ajuste del tamaño */
}

.nav-secundario__iconos a {
    margin: 0 10px; /* Espacio entre los íconos */
}

.nav-secundario__iconos a i {
    font-size: 25px; /* Tamaño del ícono */
    width: 40px;
    height: 40px;
}

.cart-badge {
    color: var(--black);
    font-size: large;
}

/* Estilos para las categorías: nav-principal */
.nav-principal {
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-principal a {
    padding: 10px 0;
    text-decoration: none;
    color: var(--white);
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    border: 1px solid var(--btn-2-hover);
    width: 100%;
    text-align: center;
}

/* Media Query para pantallas más grandes */
@media (min-width: 768px) {

    .nav-secundario {
        flex-direction: row;
        justify-content: flex-start; /* Los elementos siguen alineados a la izquierda */
        align-items: center;
        padding: 0px 80px;
    }

    .nav-secundario a:nth-child(1) {
        flex-grow: 1; /* Hace que el logo ocupe el espacio disponible */
    }

    .nav-secundario form {
        margin: 0px;
        flex-grow: 2;
        justify-content: center; /* Asegura que el formulario esté centrado */
    }

    .nav-secundario__iconos {
        flex-direction: row; /* Alineación horizontal para los íconos */
        justify-content: flex-end; /* Alineación a la derecha */
        width: auto;
        align-items: center; /* Centra verticalmente los íconos */
    }

    .nav-secundario__iconos a {
        margin: 0 10px; /* Espacio entre los íconos */
    }


    .nav-principal {
        flex-direction: row;
        padding: 0px 80px;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    .nav-principal a { 
        padding-right: 80px; border: none; text-align: left; width: auto;}
}

/*aside:        */
.filtros {
    padding-top: 20px;
    margin: 0 20px;
}

.filtros a {
    text-decoration: none;
    color:var(--black);
    cursor: pointer;
}
.filtros ul { list-style-type: none; }
.filtros li a:hover { color: var(--primary); }
.filtros p { font-size: 17px; font-weight: 600;}

.filtros__orden {
    padding: 10px;
    border: 2px var(--gray) solid;
    border-radius: 5px;
    width: 100%;
}

.filtros__categoria li,
.filtros__categoria p { padding: 10px 0px; }

.filtros__precio--minmax {
    display: flex;
    justify-content: space-between;
    gap: 5px;
}
.filtros__precio p { padding: 10px 0px; }

.filtros__precio input {
    padding: 10px;
    border: 2px var(--gray) solid;
    border-radius: 5px;
    margin: 10px 0px;
    width: 100%;
}
.filtros__precio button {
    background-color: var(--btn);
    border: none;
    padding: 10px;
    border-radius: 5px;
    color: var(--white);
    cursor: pointer;
    margin-top: 10px;
    transition-duration: 0.8s;
}
.filtros__precio button:hover {
    background-color: var(--btn-hover);
}

.filtros__color li,
.filtros__color p { padding: 10px 0px; }

@media (min-width: 768px) {
    .filtros {
        padding: 20px 20px 20px 10px;
        width: 15vw;
        margin: 0  0 0 20px;
    }
    .filtros__orden {
        padding: 10px;
        border: 2px var(--gray) solid;
        border-radius: 5px;
    }
    .filtros__categoria {
        margin-top: 20px;
        width: 100%;
    }

    .filtros__precio { 
        margin-top: 20px; 
    }

    .filtros__precio--minmax {
        flex-direction: column;
    }
    .filtros__color{ margin-top: 20px; width: 100%;}
}

/* productos de la tienda */

.main-index {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px 10px 0 10px;
}

.producto__titulo {
    font-size: 20px;
    margin: 10px 0px;
    font-weight: 600;
    text-align: center;
}

.producto {
    margin: 10px;
    padding: 10px;
    border: 2px solid var(--gray); /* Borde alrededor del producto */
    border-radius: 10px; /* Esquinas redondeadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para darle un efecto flotante */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transición para efecto de hover */
}
  
  .producto:hover {
    transform: scale(1.0005); /* Escala el producto al hacer hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada en hover */
  }
  
  .producto figure {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .producto img {
    width: 250px;
    border-radius: 8px; /* Esquinas redondeadas en la imagen */
  }
  
  .producto__caracteristicas {
    margin: 10px 0px;
  }
  
  .producto__caracteristicas p {
    padding: 5px 0px;
  }
  
  .producto__caracteristicas p:nth-child(1) {
    text-align: center;
    font-size: 20px;
  }

  .producto__caracteristicas p:nth-child(2),
  .producto__caracteristicas p:nth-child(3) {
    font-size: 17px;
  }
  
  .producto__carrito {
    margin: 10px 0px;
    display: flex;
    gap: 5px;
  }
  
  .producto__carrito .agregar {
    background-color: var(--btn);
    border: none;
    padding: 10px;
    border-radius: 5px;
    color: var(--white);
    cursor: pointer;
    transition-duration: 0.8s;
    width: 60%;
  }

  .producto__carrito .minus,
  .producto__carrito .plus {
        background-color: var(--btn);
        border: none;
        border-radius: 5px;
        padding: 10px;
        color: var(--white);
  }
  
.producto__carrito input {
    padding: 10px;
    border: 2px var(--gray) solid;
    border-radius: 5px;
    width: 60px;
    text-align: center;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media (min-width: 768px) {
    .producto {
        max-height: 560px;
    }
    .main-index {
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        padding: 20px 20px 0 10px;
    }
}

@media (min-width: 1200px) {
    .producto {
        max-height: 560px;
    }
    .main-index {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
        padding: 20px 20px 0 20px;
    }
}


/* ---------------------------
   Estilos para Inicio de Sesión
--------------------------- */
.main-login {
    display: flex;
    flex-direction: column;
    background-color: var(--bg1);
}

.login-section {
    margin: 40px auto;
    max-width: 400px;
    padding: 20px;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 350px;
}

.login-section h2 {
    text-align: center;
    margin-bottom: 20px;
    color: var(--black);
}

.login-section form {
    display: flex;
    flex-direction: column;
}

.login-section label {
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 600;
    display: block;
    margin-bottom: 10px;
}

.login-section input[type="email"],
.login-section input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid var(--gray);
    border-radius: 5px;
    font-size: 16px;
}

.login-section input[type="checkbox"] {
    margin-right: 8px;
}

.login-section button {
    background-color: var(--btn);
    color: var(--white);
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
    margin-top: 10px;
    font-family: serif;
}

.login-section button:hover {
    background-color: var(--btn-hover);
}

.login-section a {
    text-decoration: none;
    color: var(--primary);
    font-size: 14px;
    margin-top: 10px;
    display: block;
    text-align: center;
}

.login-section a:hover {
    text-decoration: underline;
}

/* opción de registro en la página de inicio de sesión*/
.register-section {
    margin: 40px auto;
    max-width: 400px;
    text-align: center;
    padding: 20px;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.register-section h2 {
    margin-bottom: 15px;
    color: var(--black);
}

.register-section p {
    font-size: 15px;
    margin-bottom: 15px;
    color: var(--black);
}

.register-section a {
    display: inline-block;
    margin-top: 10px;
    background-color: var(--btn);
    color: var(--white);
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
    text-decoration: none;
}

.register-section a:hover {
    background-color: var(--btn-hover);
}

@media (min-width: 768px) {
    .main-login{
        flex-direction: row;
        align-items: center;
        gap: 50px;
    }
    .main-login section {
        width: 50%
    }
}


/* ---------------------------
   Estilos para REGISTRO
--------------------------- */
/* Estilos para la sección principal */
.main-registro {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    background-color: var(--bg1);
}
/* Estilos para el formulario de registro */
.main-registro form {
    width: 400px;
    background-color: var(--white);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}
/* Encabezados */
.main-registro form h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
}
/* Campos de entrada */
.main-registro form div {
    margin-bottom: 15px;
}
.main-registro form label {
    display: block;
    font-size: 17px;
    margin-bottom: 5px;
}
.main-registro form input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid var(--gray);
    border-radius: 4px;
    box-sizing: border-box;
}
/* Indicador de contraseña */
.main-registro form small {
    color: #999;
}
#password-strength-bar {
    height: 5px;
    background-color: var(--btn);
    margin-top: 5px;
    border-radius: 4px;
    overflow: hidden;
}

/* Botones */
.main-registro form button {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: var(--btn);
    color: var(--white);
    cursor: pointer;
    margin-top: 10px;
    font-size: 16px;
    font-family: serif;
}
.main-registro form button:hover {
    background-color: var(--btn-hover);
}
/* opcion de iniciar sesión en el registro.html*/
.opcionLogin {
    background-color: var(--white);
    width: 400px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 15px;
    text-align: center;
}

.opcionLogin a {
    display: inline-block;
    margin-top: 10px;
    background-color: var(--btn);
    font-size: 16px;
    text-decoration: none;
    color: var(--white);
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.opcionLogin a:hover {
    background-color: var(--btn-hover);
}


/* Texto */
.main-registro form p,
.opcionLogin p {
    font-size: 15px;
    line-height: 1.5;
    margin-top: 10px;
}

.main-registro form p a {
    color: var(--primary);
    text-decoration: none;
}

.main-registro form p a:hover {
    text-decoration: underline;
}

@media (min-width: 768px) {
    .main-registro {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }
}

/*FOOTER*/
.footer {
    background-color: var(--footer);
    color: var(--white);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer p {
    text-align: center;
    padding: 10px;
}
.footer__redes a{
    font-size: 30px;
    color: var(--white);
    margin-left: 20px;
}

@media (min-width: 768px) {
  .footer {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
  .footer p {
        text-align: left;
    }
}

/*MODAL*/

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* Fondo oscuro */
    z-index: 1000;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
    position: relative;
}

.modal-content button {
    background-color: var(--primary);
    border: none;
    border-radius: 5px;
    padding: 10px 30px;
    margin-top: 10px;
    color: var(--white);
    cursor: pointer;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    cursor: pointer;
}


/* ---------------------------
   Estilos para CARRITO
--------------------------- */
.grid-container-carrito {
    display: grid;
    grid-template-areas:
    'header'
    'carrito'
    'footer';
}
.header { grid-area: header; }
.main-carrito { grid-area: carrito;}
.footer { grid-area: footer; }

.main-carrito {
    display: flex;
    flex-direction: column;
}
.main-carrito table { margin-top: 20px; }
.main-carrito table thead {
    display: none;
}
.main-carrito table tbody tr {
    display: flex;
    flex-direction: column;
    border-top: 1px solid var(--gray);
    margin-bottom: 15px;
    padding: 10px;
}
.main-carrito table tbody td {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
}
.main-carrito table tbody td img {
    width: 50%;
}
.main-carrito form {
    text-align: center;
}

.carrito__eliminar button {
    background-color: var(--white);
    border: none;
    font-size: large;
    cursor: pointer;
}
.carrito__actualizar { display: flex; }
.carrito__actualizar button,
.carrito__confirmar a {
    background-color: var(--btn);
    border: none;
    padding: 8px;
    border-radius: 5px;
    color: var(--white);
    cursor: pointer;
    transition-duration: 0.8s;
    text-decoration: none;
}
.carrito__actualizar button:hover {
    background-color: var(--btn-hover);
}
.carrito__actualizar span {
    padding: 10px;
    border: 1px solid var(--gray);
    border-radius: 5px;
    text-align: center;
    margin: 0 5px;
}

.main-carrito h3 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.main-carrito div {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.carrito__continuar a {
    text-decoration: none;
    background-color: var(--gray);
    border: none;
    padding: 10px;
    border-radius: 5px;
    color: var(--white);
    cursor: pointer;
    transition-duration: 0.8s;
    display: inline-block;
}

@media (min-width: 768px) {
    .main-carrito table {
        display: table;
        margin: 0 80px;
        border-collapse: collapse;
    }
    .main-carrito table thead {
        display: table-header-group;
    }
    .main-carrito table tbody tr {
        display: table-row;
        margin: 0;
        border: none;
        padding: 0;
    }
    .main-carrito table tbody td {
        display: table-cell;
        padding: 20px 10px;
        text-align: center;
        border-top: 2px solid var(--gray);
    }
    .main-carrito table tbody td img {
        width: 150px;
    }

    .carrito__confirmar {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin: 0 80px;
    }

    .carrito__actualizar {
        flex-direction: column;
    }
    .carrito__actualizar span {
        margin: 5px 0;
    }
}

@media (min-width: 1200px) {
    .carrito__actualizar {
        flex-direction: row;
        justify-content: center;
    }
    .carrito__actualizar span {
        margin: 0 5px;
    }
}

/* ---------------------------
   Estilos para Finalizar Pedido
--------------------------- */

.main-pedido { padding: 20px; }
.main-pedido div div section:first-child { line-height: 30px; }
.finalizar-pedido section {
    width: 100%;
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.finalizar-pedido h4 {
    font-size: 22px;
    margin-bottom: 15px;
    font-weight: 600;
    color: var(--black);
}

.finalizar-pedido form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.finalizar-pedido label {
    font-size: 16px;
    color: var(--black);
    line-height: 30px;
}

.finalizar-pedido input {
    padding: 10px;
    border: 1px solid var(--gray);
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
}

.finalizar-pedido button {
    background-color: var(--btn);
    color: var(--white);
    padding: 8px 12px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
    font-family: serif;
}

.finalizar-pedido button:hover {
    background-color: var(--btn-hover);
}

.finalizar-pedido .confirmar-pedido {
    border: none;
    box-shadow: none;
    margin-top: 20px;
    padding: 10px;
    background: none;
}

.finalizar-pedido .confirmar-pedido button {
    background-color: var(--primary);
    border: none;
    color: var(--white);
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 20px;
    font-size: 16px;
    font-family: serif;
}

.finalizar-pedido .confirmar-pedido button:hover {
    background-color: var(--btn-2-hover);
}


.finalizar-pedido .form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.finalizar-pedido .form-group input {
    width: 100%;
}

.tarjeta {
    display: flex;
    align-items: center;
    gap: 5px;
}

.tarjeta img {
    width: 50px;
    height: auto;
}

.envioPago {
    display: flex;
    flex-direction: column;
}
.confirmar-pedido form {
    display: flex;
    align-items: center;
}

@media (min-width: 768px) {
    .envioPago {
        flex-direction: row;
        gap: 20px;
    }
    .main-pedido { padding: 40px; }
    .finalizar-pedido button {
        max-width: 200px;
    }
}